pipeline/Variables.json
{
	"name": "Variables",
	"properties": {
		"activities": [
			{
				"name": "SetVar",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "outputVar",
					"value": {
						"value": "@concat(pipeline().TriggerName,'_def')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetVar",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputBinaryDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputParamBinaryDS",
						"type": "DatasetReference",
						"parameters": {
							"parma": {
								"value": "@variables('outputVar')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "opvar",
					"value": {
						"value": "@pipeline().TriggerName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputBinaryDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OutputParamBinaryDS",
						"type": "DatasetReference",
						"parameters": {
							"parma": {
								"value": "@variables('opvar')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"outputVar": {
				"type": "String",
				"defaultValue": "out"
			},
			"arrVar": {
				"type": "Array",
				"defaultValue": [
					"apple",
					"banana",
					"grape"
				]
			},
			"intArr": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3
				]
			},
			"opvar": {
				"type": "String",
				"defaultValue": "op"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}